/**
 * Общие для документа настройки
 * */
body { 
	font: 75%/120% Arial, Helvetica, sans-serif; 
}

/**
 * Стили таблицы c календарем
 * */
#month_view{
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color : #6B86A6;
	width: 100%;
	height : 100%;
}

/** Элементы таблицы/div'ы/*/
#itd {
	margin: 0;
	padding: 0px;
	border-width: 1px 1px 0 0;
	background-color: #FFE; 
}
#it_Div {
	margin: 0;
	padding: 1px;
	width:300px; height:20px;
	background-color: #6B86A6; 
	-webkit-border-radius:25px 25px 25px 25px;
}
/** кнопки и заголовки */
#bUp, #bDown{
	position: absolute;
	width:300px; height:20px;
	background-color:#6B86A6; 
}
#bUp{ 
	-webkit-border-radius:25px 25px 0px 0px; 
	top: 20px; 
}
#bDown{ 
	-webkit-border-radius:0px 0px 25px 25px; 
	top: 340px;
}

/* заголовок и "строка состояния "*/
#boxTop, #boxBottom{
	position: absolute;
	width:300px; height:20px;
	background-color:#6B86A6; 
}

#boxTop { 
	-webkit-border-radius:10px 10px 0px 0px; 
	top: 0px; 
	z-index: 0;
}

#btClose { 
	position: absolute;
	top: 0px; left: 250px; z-index: 1;
	width:30px; height:15px;
	background-color:red;
	-webkit-border-radius:0px 0px 10px 10px; 
}

#boxBottom { 
	-webkit-border-radius: 0px 0px 25px 25px; 
	top: 360px; 
}

/* Опереторный блок */
#boxCentral, #boxTodoLayer{
	position: absolute;
	top: 40px; 
	width:300px; height:300px;
}

#viewport{
	position: absolute;
	top: 40px; 
	width:300px; height:300px;
}

/* расслоение */
#boxCentral {
	background-color:#E1E0FF;
	z-index: 1;
}
#viewport {
	z-index: 2;
}

/** слой */
#boxTodoLayer{
	background-color:#E1E0CE; 
	z-index: 0;
}



